@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 253, 248;
  --background-end-rgb: 253, 253, 248;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-merriweather), serif;
}

/* Custom Scrollbar for retro feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fdf6e3; 
}

::-webkit-scrollbar-thumb {
  background: #dcdccc; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2c2b0; 
}
